@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

:root {
  --main-menu-color: #517cb9;
  --main-title-color: #22222;
  --main-text-color: #565656;
  --main-menu-click-color: #2c61ac;
  --main-bg-color: #ededed;
}

html {
  background-color: var(--main-bg-color);
  overflow-x: hidden;
}

#app {
  font-weight: normal;
  width: 99vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  gap: 30px;
  background-color: #ededed;
  padding-left: 30px;
  padding-top: 30px;
}

@font-face {
  font-family: NexaBold;
  src: url('../assets/fonts/nexa/Nexa-Heavy.ttf');
}

.hammersmith-one-regular {
  font-family: "Hammersmith One", sans-serif;
  font-weight: 800;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  color: var(--main-title-color);
}

a:hover {
  color: var(--main-title-click-color);
}


@media screen and (max-width: 700px) {
  .flex-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #app {
    padding-top: 0px;
    padding-left: 0px;
  }

  .logo {
    width: 100%;
  }

  .logo-container > h1 {
    line-height: 1;
    font-size: 35px;
  }
}